@model Web_Gio_Cha.EF.TblMenuContent
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row form-group nomargin">
    <div class="col-md-12 col-sm-12 col-xs-12 left">
        <div class=" link left" style="padding:8px 0px 8px 15px; background:#dad7c8;width:100%"><a href="/trang-chu">Trang chủ</a> &nbsp;&nbsp;&nbsp;»&nbsp;&nbsp;&nbsp; <a href="/tro-giup">Trợ giúp</a></div>

        @if (Model != null)
        {
            @Html.Raw(Model.Menu_Content)
        }
        else
        {
            <div style="text-align:center; padding:50px">
                <h3>Trang chưa có nội dung hoặc không tồn tại!</h3>
            </div>
        }

    </div>
</div>


