<td align="center" valign="top">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center"><img src="Images/bannerMain.jpg" alt="" width="614" height="207" /></td>
        </tr>
        <tr>
            <td align="center">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="35" align="left" valign="middle">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="25"></td>
                                    <td><span class="Titlesanpham" style="margin-top:10px"> SẢN PHẨM TIÊU BIỂU</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:10px">
                                <tr>
                                    <td>
                                        <table width="192" border="0" cellspacing="0" cellpadding="0" style="background-image:url(Images/background_sanpham.jpg); background-repeat:no-repeat; background-repeat:no-repeat">
                                            <tr>
                                                <td width="192" height="255" align="center" valign="top">
                                                    <table width="180" border="0" cellspacing="7" cellpadding="0">
                                                        <tr>
                                                            <td height="126" align="center" valign="middle"><a href="#"><img src="Images/demosanpham1.jpg" width="169" height="113" border="0" /></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20" align="center" class="bold size14 co333">Nem chua hải sản</td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="center">
                                                                <table width="140" border="0" cellspacing="2" cellpadding="0">
                                                                    <tr>
                                                                        <td class="co333"><strong>Mua lẻ:</strong></td>
                                                                        <td><span class="co0066cc">1.440.000</span></td>
                                                                        <td class="cored"><img src="Images/iconVND.jpg" alt="" width="11" height="11" /></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                                                    <tr>
                                                                        <td align="right"><a href="#"><img src="Images/btBogio.jpg" alt="" width="79" height="23" border="0" /></a></td>
                                                                        <td align="left"><a href="#"><img src="Images/btDathang.jpg" alt="" width="77" height="23" border="0" /></a></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table width="192" border="0" cellspacing="0" cellpadding="0" style="background-image:url(Images/background_sanpham.jpg); background-repeat:no-repeat; background-repeat:no-repeat">
                                            <tr>
                                                <td width="192" height="255" align="center" valign="top">
                                                    <table width="180" border="0" cellspacing="7" cellpadding="0">
                                                        <tr>
                                                            <td height="126" align="center" valign="middle"><a href="#"><img src="Images/demosanpham1.jpg" width="169" height="113" border="0" /></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20" align="center" class="bold size14 co333">Nem chua hải sản</td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="center">
                                                                <table width="140" border="0" cellspacing="2" cellpadding="0">
                                                                    <tr>
                                                                        <td class="co333"><strong>Mua lẻ:</strong></td>
                                                                        <td><span class="co0066cc">1.440.000</span></td>
                                                                        <td class="cored"><img src="Images/iconVND.jpg" alt="" width="11" height="11" /></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                                                    <tr>
                                                                        <td align="right"><a href="#"><img src="Images/btBogio.jpg" alt="" width="79" height="23" border="0" /></a></td>
                                                                        <td align="left"><a href="#"><img src="Images/btDathang.jpg" alt="" width="77" height="23" border="0" /></a></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table width="192" border="0" cellspacing="0" cellpadding="0" style="background-image:url(Images/background_sanpham.jpg); background-repeat:no-repeat; background-repeat:no-repeat">
                                            <tr>
                                                <td width="192" height="255" align="center" valign="top">
                                                    <table width="180" border="0" cellspacing="7" cellpadding="0">
                                                        <tr>
                                                            <td height="126" align="center" valign="middle"><a href="#"><img src="Images/demosanpham1.jpg" width="169" height="113" border="0" /></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20" align="center" class="bold size14 co333">Nem chua hải sản</td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="center">
                                                                <table width="140" border="0" cellspacing="2" cellpadding="0">
                                                                    <tr>
                                                                        <td class="co333"><strong>Mua lẻ:</strong></td>
                                                                        <td><span class="co0066cc">1.440.000</span></td>
                                                                        <td class="cored"><img src="Images/iconVND.jpg" alt="" width="11" height="11" /></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                                                    <tr>
                                                                        <td align="right"><a href="#"><img src="Images/btBogio.jpg" alt="" width="79" height="23" border="0" /></a></td>
                                                                        <td align="left"><a href="#"><img src="Images/btDathang.jpg" alt="" width="77" height="23" border="0" /></a></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:10px">
                                <tr>
                                    <td>
                                        <table width="192" border="0" cellspacing="0" cellpadding="0" style="background-image:url(Images/background_sanpham.jpg); background-repeat:no-repeat; background-repeat:no-repeat">
                                            <tr>
                                                <td width="192" height="255" align="center" valign="top">
                                                    <table width="180" border="0" cellspacing="7" cellpadding="0">
                                                        <tr>
                                                            <td height="126" align="center" valign="middle"><a href="#"><img src="Images/demosanpham1.jpg" width="169" height="113" border="0" /></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20" align="center" class="bold size14 co333">Nem chua hải sản</td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="center">
                                                                <table width="140" border="0" cellspacing="2" cellpadding="0">
                                                                    <tr>
                                                                        <td class="co333"><strong>Mua lẻ:</strong></td>
                                                                        <td><span class="co0066cc">1.440.000</span></td>
                                                                        <td class="cored"><img src="Images/iconVND.jpg" alt="" width="11" height="11" /></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                                                    <tr>
                                                                        <td align="right"><a href="#"><img src="Images/btBogio.jpg" alt="" width="79" height="23" border="0" /></a></td>
                                                                        <td align="left"><a href="#"><img src="Images/btDathang.jpg" alt="" width="77" height="23" border="0" /></a></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table width="192" border="0" cellspacing="0" cellpadding="0" style="background-image:url(Images/background_sanpham.jpg); background-repeat:no-repeat; background-repeat:no-repeat">
                                            <tr>
                                                <td width="192" height="255" align="center" valign="top">
                                                    <table width="180" border="0" cellspacing="7" cellpadding="0">
                                                        <tr>
                                                            <td height="126" align="center" valign="middle"><a href="#"><img src="Images/demosanpham1.jpg" width="169" height="113" border="0" /></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20" align="center" class="bold size14 co333">Nem chua hải sản</td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="center">
                                                                <table width="140" border="0" cellspacing="2" cellpadding="0">
                                                                    <tr>
                                                                        <td class="co333"><strong>Mua lẻ:</strong></td>
                                                                        <td><span class="co0066cc">1.440.000</span></td>
                                                                        <td class="cored"><img src="Images/iconVND.jpg" alt="" width="11" height="11" /></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                                                    <tr>
                                                                        <td align="right"><a href="#"><img src="Images/btBogio.jpg" alt="" width="79" height="23" border="0" /></a></td>
                                                                        <td align="left"><a href="#"><img src="Images/btDathang.jpg" alt="" width="77" height="23" border="0" /></a></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table width="192" border="0" cellspacing="0" cellpadding="0" style="background-image:url(Images/background_sanpham.jpg); background-repeat:no-repeat; background-repeat:no-repeat">
                                            <tr>
                                                <td width="192" height="255" align="center" valign="top">
                                                    <table width="180" border="0" cellspacing="7" cellpadding="0">
                                                        <tr>
                                                            <td height="126" align="center" valign="middle"><a href="#"><img src="Images/demosanpham1.jpg" width="169" height="113" border="0" /></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20" align="center" class="bold size14 co333">Nem chua hải sản</td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="center">
                                                                <table width="140" border="0" cellspacing="2" cellpadding="0">
                                                                    <tr>
                                                                        <td class="co333"><strong>Mua lẻ:</strong></td>
                                                                        <td><span class="co0066cc">1.440.000</span></td>
                                                                        <td class="cored"><img src="Images/iconVND.jpg" alt="" width="11" height="11" /></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                                                    <tr>
                                                                        <td align="right"><a href="#"><img src="Images/btBogio.jpg" alt="" width="79" height="23" border="0" /></a></td>
                                                                        <td align="left"><a href="#"><img src="Images/btDathang.jpg" alt="" width="77" height="23" border="0" /></a></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</td>