@model Web_Gio_Cha.EF.TblMenuContent
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row form-group nomargin">
    <div class="col-md-12 col-sm-12 col-xs-12 left">
        @if (Model != null)
        {
            @Html.Raw(Model.Menu_Content)
        }
        else
        {
            <div style="text-align:center; padding:50px">
                <h3>Trang chưa có nội dung hoặc không tồn tại!</h3>
            </div>
        }
    </div>
</div>

