@using Web_Gio_Cha.Resources;
@using Web_Gio_Cha.Models.Define;
@using Web_Gio_Cha.EF;

@model TblCompany

<div>
    <div height="80" align="center" valign="middle" class="textfooter">
        <strong>@Model.COMPANY_NAME</strong><br />
        Địa chỉ:@Model.COMPANY_ADDRESS<br />
        Điện thoại: @Model.COMPANY_PHONE<br />
        Email: @Model.COMPANY_EMAIL
    </div>
</div>
