<div class="col-md-2 col-sm-3 hidden-xs" align="right" valign="top">
    <table width="211" border="0" cellspacing="0" cellpadding="0">
    </table>
    <table width="211" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="right" valign="top">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right">
                            <table width="196" border="0" align="right" cellpadding="0" cellspacing="1">
                                <tr>
                                    <td align="left" valign="middle" class="bold" style="padding-bottom:10px; padding-left:20px; color:#ff3300; font-size:16px">SẢN PHẨM</td>
                                </tr>
                                <tr>
                                    <td height="24" class="linkmenuleft"><a href="#">Giò</a></td>
                                </tr>
                                <tr>
                                    <td class="linkmenuleft"><a href="#">Chả</a></td>
                                </tr>
                                <tr>
                                    <td class="linkmenuleft"><a href="#">Nem</a></td>
                                </tr>
                                <tr>
                                    <td class="linkmenuleft"><a href="#" class="linkfooter">Bánh đa</a></td>
                                </tr>
                                <tr>
                                    <td class="linkmenuleft"><a href="#" class="linkfooter">Bánh cuốn</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="25"></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top" style="background-image:url(Images/bg_giohang.jpg); background-repeat:no-repeat; height:145px; width:118px">
                                        <table width="166" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="48"></td>
                                                <td height="8"></td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="co4f790d">&nbsp;</td>
                                                <td height="20" align="left" class="co4f790d"><strong><a href="#" class="co4f790d">Giỏ hàng</a></strong></td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="co4f790d">&nbsp;</td>
                                                <td height="16" align="left" class="co4f790d">Giò lụa: 4kg</td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="co4f790d">&nbsp;</td>
                                                <td align="left" class="co4f790d">Nem tai: 0,5Kg</td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="co4f790d">&nbsp;</td>
                                                <td height="20" align="left" class="co4f790d"><strong>Tổng số tiền:</strong></td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="linkgiohang">&nbsp;</td>
                                                <td align="left" class="linkgiohang"><a href="#">2.342.342.343</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center"><a href="#"><img src="Images/banner1.jpg" alt="giò chả Vân Bảo" width="178" height="149" border="0" /></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table width="80%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="25"></td>
                                </tr>
                                <tr>
                                    <td align="center"><img src="Images/dienthoai.jpg" width="123" height="84" /></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p>
                                            <span class="numberphone1">(04)</span> <span class="numberphone2">32.289.289</span><br />
                                            <span class="co12a9c7"><strong>Hãy gọi cho chúng tôi </strong>để được tư vấn thêm</span>
                                        </p>
                                    </td>
                                </tr>
                            </table>                          <a href="#"></a>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="10" style="background-image:url(Images/bg_menuLeft.jpg); background-repeat:no-repeat; background-position:top left">&nbsp;</td>
        </tr>
    </table>
</div>