<table width="200" border="0" cellspacing="0" cellpadding="0"></table>
<table class="col-md-12" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="right" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    @{Html.RenderAction("CategoryProductPartial", "Category");}
                </tr>
                <tr>
                    <td align="left">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="25"></td>
                            </tr>
                            <tr>
                                @{Html.RenderAction("GioHangPartial", "GioHang");}
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><a href="https://go.isclix.com/deep_link/4502307859798938734?url=https://shopee.vn/m/1010" target="_blank"><img src="https://static.accesstrade.vn/publisher/www/files/img_promo/offer/banner/shopee/160x600/1010LPG_1200x628.jpg" width=160 height=600></a></td>
                                @*<td align="center"><a href="#"><img src="/Images/banner1.jpg" alt="giò chả Vân Bảo" width="178" height="149" border="0" /></a></td>*@
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top">
                        <table width="80%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="25"></td>
                            </tr>
                            <tr>
                                <td align="center"><img src="/Images/dienthoai.jpg" width="123" height="84" /></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <p>
                                        <span class="numberphone1">(04)</span> <span class="numberphone2">32.289.289</span><br />
                                        <span class="co12a9c7"><strong>Hãy gọi cho chúng tôi </strong>để được tư vấn thêm</span>
                                    </p>
                                </td>
                            </tr>
                        </table>                          <a href="#"></a>
                    </td>
                </tr>
            </table>
        </td>
        <td width="10" style="background-image:url(/Images/bg_menuLeft.jpg); background-repeat:no-repeat; background-position:top left">&nbsp;</td>
    </tr>
</table>