<div class="row nomargin">
    <div class="col-md-12" border="0" cellspacing="0" cellpadding="0">
        @{Html.RenderAction("CategoryProductPartial", "Category");}
        @*@{Html.RenderAction("CategoryProductPartial", "Category");}

            @{Html.RenderAction("GioHangPartial", "GioHang");}
            <div>
                <a href="#"><img src="/Images/banner1.jpg" alt="giò chả Vân Bảo" style="background-size:100% 100%;" border="0" /></a>
            </div>
            <img src="/Images/dienthoai.jpg" width="123" height="84" />

            <p>
                <span class="numberphone1">(04)</span> <span class="numberphone2">32.289.289</span><br />
                <span class="co12a9c7"><strong>Hãy gọi cho chúng tôi </strong>để được tư vấn thêm</span>
            </p>
        </div>
        <div width="10" style="background-image:url(/Images/bg_menuLeft.jpg); background-repeat:no-repeat; background-position:top left">&nbsp;</div>*@
    </div>
</div>
