@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div id="Error">
    <h1 class="text-danger center">404 NOT FOUND</h1>
    <h2 class="text-danger center">Có lỗi xảy ra trong quá trình xử lí. Vui lòng quay lại trang chủ!</h2>
    <div class="center">
        <a class="nav-link" href="/trang-chu" style="font-size:16px">Quay lại trang chủ </a>
    </div>

</div>


