
<tr>
    <td>&nbsp;</td>
    <td height="80" align="center" valign="middle" class="textfooter">
        <strong>Công ty CP đầu tư phát triển công nghệ Thời Đại Mới.</strong><br />
        Địa chỉ:17 Ngõ 178 Thái Hà - Q.Đống Đa - Hà Nội.<br />
        Điện thoại: (04) 6275-7210.<br />
        Email:	<a href="mailto:tearnblood@yahoo.com" class="co12a9c7">support@megabuy.vn</a>.
    </td>
    <td>&nbsp;</td>
</tr>