<div class="row nomargin">
    <div class="col-md-6 col-sm-6 col-xs-6" align="left" valign="middle"><img src="/Images/logo.png" alt="giò chả Vân Bảo" style="width:80%; height:auto;" border="0" align="left" /></div>
    <div class="col-md-6 col-sm-6 col-xs-6"><img src="/Images/caytre.png" alt="giò chả Vân Bảo"  style="width:80%; height:auto;" align="right" /></div>
</div>