@*<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" bgcolor="#FFFFFF">
            <table width="827" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px">
                <tr>
                    <td width="827" height="32" align="center" class="linkfooter" style="background-image: url(Images/bgfooter2.jpg); background-repeat:no-repeat; background-repeat:no-repeat; color:#FFF"> <a href="#">Trang chủ</a> | <a href="#">Giới thiệu</a> |	<a href="#">Tin tức</a> |     <a href="#">Sản phẩm</a> | 	  <a href="#">Trợ giúp</a> |	 <a href="#">Liên hệ</a></td>
                </tr>
                <tr>
                    <td height="110" align="center" valign="middle" style="border-bottom:1px solid #CCC; border-left:1px solid #CCC; border-right:1px solid #CCC"><a href="#"><img src="Images/huongdanthanhtoan.jpg" width="715" height="90" border="0" /></a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="18" style="background-image:url(Images/bgfooter.jpg); background-position: center; background-repeat:no-repeat"></td>
    </tr>
</table>*@

<div id="MenuBottom" class="row nomargin col-md-12" style="background-color:#ffffff; padding-bottom:20px">
    <div class=" center" style="background-image: url(/Images/bgfooter2.jpg); width:100%; height:32px">
         <a href="/trang-chu" class="link-menu-bottom">Trang chủ</a> 
        | <a href="/gioi-thieu" class="link-menu-bottom">Giới thiệu</a> 
        | <a href="/tin-tuc" class="link-menu-bottom">Tin tức</a> 
        | <a href="/san-pham" class="link-menu-bottom">Sản phẩm</a> 
        | <a href="/tro-giup" class="link-menu-bottom">Trợ giúp</a> 
        | <a href="/lien-he" class="link-menu-bottom">Liên hệ</a>
    </div>
    <div class="center" style="border-bottom:1px solid #CCC; border-left:1px solid #CCC; border-right:1px solid #CCC">
        <a href="#"><img src="/Images/huongdanthanhtoan.jpg" width="715" height="90" border="0" /></a>
    </div>
    <div class="" style="background-image:url(/Images/bgfooter.jpg); background-position: center; background-repeat:no-repeat">

    </div>
</div>
