@{
    var currentUser = HttpContext.Current.Session["CmnEntityModel"] as Web_Gio_Cha.Models.CmnEntityModel;
}
<div class="row nomargin pr-menu">
    <nav class="navbar navbar-inverse nav-format">
        <div class="navbar-header" style="text-align:right;">
            <button type="button" class="navbar-toggle" id="btnDispMenu" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @{Html.RenderAction("GioHangPartialTop", "GioHang");}

            <a href="/trang-chu" class="navbar-brand" style="height:0;"><img src="~/Icon/Home.png" alt="giò chả Vân Bảo" title="trang chủ" style="width:20px; margin:0 5px;" /></a>
        </div>
        <div class="navbar-collapse collapse" id="menu">
            <ul class="nav navbar-nav">
                <li class="textresponsive"><a href="/gioi-thieu">Giới thiệu</a></li>
                <li class="textresponsive"><a href="/tin-tuc">Tin tức</a></li>
                <li class="textresponsive"><a href="/san-pham">Sản phẩm</a></li>
                <li class="textresponsive"><a href="/tro-giup">Trợ giúp</a></li>
                <li class="textresponsive"><a href="/lien-he">Liên hệ</a></li>
                @if (currentUser != null)
                {
                    if (currentUser.IsAdmin == true)
                    {
                        <li><a href="/admin">Quản trị hệ thống</a></li>
                    }
                    <li class="dropdown textresponsive" style="min-width:162px">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tài khoản: @currentUser.UserName<span class="caret"></span></a>
                        <ul class="dropdown-menu" style="width:auto">
                            <li class="textresponsive"><a href="/danh-sach-don">Đơn hàng</a></li>
                            <li class="textresponsive"><a href="/tai-khoan">Thông tin tài khoản</a></li>
                            <li class="textresponsive"><a href="/thoat">Đăng xuất</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="textresponsive"><a href="/dang-ky">Đăng ký</a></li>
                    <li class="textresponsive"><a href="/dang-nhap">Đăng nhập</a></li>
                }
            </ul>
        </div>
    </nav>
</div>

<style>
    #btnDispMenu {
        border-color: #ffffff;
    }

    #menu {
        border-color: #ffffff;
    }

    .pr-menu {
        padding: 20px 0 10px;
        background-color: #ffffff;
        border-radius: 20px 20px 0px 0px;
    }

        .pr-menu .nav-format {
            background-color: #ff6a00;
            border: none;
            border-radius: 0;
            margin-bottom: 0;
        }

        .dropdown ul {
            background-color: #ff6a00;
        }

            .pr-menu .nav-format li {
            }

                .pr-menu .nav-format li:hover {
                    background-color: #f68b16;
                }

            .pr-menu .nav-format a {
                color: #ffffff !important;
            }
</style>

<script>
    $("#btnDispMenu").click(function () {
        $("#menu").slideToggle(300);
    })
</script>