@model IEnumerable<Web_Gio_Cha.EF.Product_Category>

<div class="row nomargin">
    <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
        <p style="text-align:left; font-weight:bold; padding:10px 0 0 10px; color:#ff3300; font-size:16px">SẢN PHẨM</p>
        <ul class="body-left">
            @foreach (var data in Model)
            {
                var link = "/san-pham-" + data.Name + "/" + data.ID;
                <li class="linkmenuleft">
                    <a href="@link">@data.Name</a>
                </li>
            }
        </ul>

    </div>
</div>

<style>
    ul.body-left {
        padding-left: 0px;
    }

        ul.body-left li {
            list-style-type: none;
        }
</style>