@model IEnumerable<Web_Gio_Cha.EF.Product_Category>

<div style="font-size:16px; font-weight:bold; vertical-align:middle; text-align:left; color: #ff3300; padding-bottom: 10px;">SẢN PHẨM</div>
@foreach (var data in Model)
{
    var link = "/san-pham-" + data.Name + "/" + data.ID;
        <div height="24" class="linkmenuleft"><a href="@link">@data.Name</a></div>
}

