@using Web_Gio_Cha.Resources;
@using Web_Gio_Cha.Models;

@{
    //var currentUser = HttpContext.Current.Session["CmnEntityModel"] as CmnEntityModel;
    //var authorityList = currentUser.AuthorityList as List<string>;
}

<ul class="dropdown-menu">
    <b class="caret"></b>

    <li><a href='@Url.Action("ProductList", "ManageProduct")'><i class="fa fa-angle-right pull-left"></i>Danh sách sản phẩm</a></li>

    <li><a href='@Url.Action("ProductEdit", "ManageProduct")'><i class="fa fa-angle-right pull-left"></i>Đăng kí sản phẩm</a></li>


</ul>
