
<a href="/xem-gio-hang" style="cursor:pointer; margin-top:20px;" class="gioHangTop"> <img class="Viewcart" src="~/Icon/cart_menu.png" alt="giò chả Vân Bảo" title="Giỏ hàng" style="width:20px; margin-top:15px" /><span style="margin-right:15px">(@ViewBag.TongSoLuong)</span></a>

