<td align="left" valign="top" style="background-image:url(/Images/bg_giohang.jpg); background-repeat:no-repeat; height:145px; width:118px">
    <table width="166" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="48"></td>
            <td height="8"></td>
        </tr>
        <tr>
            <td align="center" class="co4f790d">&nbsp;</td>
            <td height="20" align="left" class="co4f790d"><strong><a href="#" class="co4f790d">Giỏ hàng</a></strong></td>
        </tr>
        <tr>
            <td align="center" class="co4f790d">&nbsp;</td>
            <td height="16" align="left" class="co4f790d">Giò lụa: 4kg</td>
        </tr>
        <tr>
            <td align="center" class="co4f790d">&nbsp;</td>
            <td align="left" class="co4f790d">Nem tai: 0,5Kg</td>
        </tr>
        <tr>
            <td align="center" class="co4f790d">&nbsp;</td>
            <td height="20" align="left" class="co4f790d"><strong>Tổng số tiền:</strong></td>
        </tr>
        <tr>
            <td align="center" class="linkgiohang">&nbsp;</td>
            <td align="left" class="linkgiohang"><a href="#">2.342.342.343</a></td>
        </tr>
    </table>
</td>
