<div class="row nomargin">
    <div class="col-md-12 col-sm-12 col-xs-12" style="background-image:url(/Images/bg_giohang.jpg); background-repeat:no-repeat; background-size:100%; padding:30px 0 0 10px;">
        <a href="/xem-gio-hang" style="cursor:pointer"><img style="width:40px; height:40px;" class="Viewcart" src="~/Icon/cart.png" alt="" title="Giỏ hàng"/></a>
        <p class="co4f790d soluong" id="update-SoLuong" style="font-weight:bold">@ViewBag.TongSoLuong sản phẩm</p>
        <p class="co4f790d">Tổng số tiền:</p>
        <p class="co4f790d money" id="updateTotalMoney" style="font-weight:bold"><strong>@ViewBag.TongTien</strong></p>
    </div>
</div>