
@model List<Web_Gio_Cha.Models.Define.ItemGioHang>
@{
    ViewBag.Title = "Xem Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div width="100%" class="row" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">

            <table width="636" border="0" cellspacing="0" cellpadding="0">
                <tr bgcolor="#F7950C">
                    <td width="5"></td>
                    <td align="left" bgcolor="#F7950C" class="link bold black" style="padding:8px 0px 8px 15px">GIỎ HÀNG CỦA BẠN<a href="#"></a></td>
                </tr>
            </table>
            @if (Model == null || Model.Count() == 0)
            {
                <p style="font-size:2em;padding:10px;margin:10px"> Chưa có sản phẩm trong giỏ hàng !! </p>
                <a href="@Url.Action("Index","Home")" style="font-size:2em;padding:10px;margin:10px">    Vui lòng quay trở lại trang chủ để mua hàng !! </a>
            }
            else
            {
                <table width="636" border="0" cellspacing="0" cellpadding="0" style="margin:0px 4px 0px 4px; font-size:12px;">
                    <tr>
                        <td align="center" valign="top" bgcolor="#FFFFFF" style="padding:0px 18px 15px 18px; border-left:4px solid #F7950C; border-right:4px solid #F7950C;  padding-top:12px">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                <tr>
                                    <td width="84" height="30" style="border-bottom:1px solid #999; border-top:1px solid #999">&nbsp;</td>
                                    <td width="137" class="bold" style="border-bottom:1px solid #999; border-top:1px solid #999">Sản phẩm</td>
                                    <td width="70" align="center" class="bold" style="border-bottom:1px solid #999; border-top:1px solid #999">Số lượng</td>
                                    <td width="86" align="center" class="bold" style="border-bottom:1px solid #999; border-top:1px solid #999">Đơn giá</td>
                                    <td width="85" align="center" class="bold" style="border-bottom:1px solid #999; border-top:1px solid #999">Thành tiền</td>
                                    <td width="48" style="border-bottom:1px solid #999; border-top:1px solid #999">&nbsp;</td>
                                </tr>


                                <tr>
                                    <td height="60" align="center" valign="middle"><img src="Images/demosanpham2.jpg" width="75" height="51" /></td>
                                    <td style="border-right: dotted 1px #999"><a href="#">Giò lụa hải sản</a></td>
                                    <td align="center" class="boderbottom boderright">1,5 Kg</td>
                                    <td align="center" class="boderbottom boderright"><input name="textfield5" type="text" id="textfield5" style="width:20px" value="1" /></td>
                                    <td align="center" class="boderbottom boderright"><span style="border-right: dotted 1px #999">6.550.000 đ  </span></td>
                                    <td align="center" class="boderbottom boderright"><span style="border-right: dotted 1px #999">6.550.000 đ  </span></td>
                                    <td align="center"><a href="#"><img src="Images/bt_xoa.gif" width="33" height="22" border="0" /></a></td>
                                </tr>
                                <tr>
                                    <td height="60" align="center" valign="middle">&nbsp;</td>
                                    <td style="border-right: dotted 1px #999">&nbsp;</td>
                                    <td align="center" class="boderbottom boderright">0,5 Kg</td>
                                    <td align="center" class="boderbottom boderright"><input name="textfield4" type="text" id="textfield4" style="width:20px" value="1" /></td>
                                    <td align="center" class="boderbottom boderright"><span style="border-right: dotted 1px #999">6.550.000 đ  </span></td>
                                    <td align="center" class="boderbottom boderright"><span style="border-right: dotted 1px #999">6.550.000 đ  </span></td>
                                    <td align="center"><a href="#"><img src="Images/bt_xoa.gif" width="33" height="22" border="0" /></a></td>
                                </tr>


                                <tr>
                                    <td height="30" style="border-top:1px solid #999">&nbsp;</td>
                                    <td style="border-top:1px solid #999">&nbsp;</td>
                                    <td style="border-top:1px solid #999">&nbsp;</td>
                                    <td style="border-top:1px solid #999"><a href="#"><img src="Images/bt_capnhat.gif" width="68" height="22" border="0" /></a></td>
                                    <td align="center" class="bold" style="border-top:1px solid #999">Tổng cộng: </td>
                                    <td align="center" style="border-top:1px solid #999">6.550.000 đ</td>
                                    <td style="border-top:1px solid #999">&nbsp;</td>
                                </tr>
                            </table>


                            <table width="86%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td height="16"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#FFFF99" style="padding:12px">
                                        * Miễn phí vận chuyển trong KV nội thành TP.HCM cho đơn mua hàng trên 400.000đ (đối với các webshop tại TP.HCM).<br />
                                        *   Các đơn mua hàng tại các Quận Huyện vùng ven, xa trung tâm... hay các   webshop bán hàng tại các địa phương ngoài phạm vi TP.HCM chúng tôi sẽ   thông báo lại phí vận chuyển cụ thể khi nhận được đơn đặt hàng.
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:16px; margin-bottom:16px">
                                <tr>
                                    <td align="right" valign="middle" bgcolor="#F7950C" class="white">Xin đánh dấu nếu đã chọn hàng xong</td>
                                    <td height="25" align="right" bgcolor="#F7950C"><img src="Images/arrow.gif" width="24" height="25" /></td>
                                    <td>
                                        <label>
                                            <input type="radio" name="radio" id="radio" value="radio" />
                                            Tôi đã đăng ký thành viên
                                        </label>
                                    </td>
                                    <td>
                                        <input type="radio" name="radio" id="radio2" value="radio" />
                                        Tôi là khách hàng mới
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="63%" align="right"><a href="#"><img src="Images/bt_continues.gif" width="132" height="22" border="0" /></a></td>
                                    <td width="2%" align="center"><a href="#"></a></td>
                                    <td width="37%" align="left"><a href="#"><img src="Images/bt_dathangxong.gif" width="107" height="22" border="0" /></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="13" style="background-image:url(Images/footer_giohang.jpg); width:636px; background-repeat:no-repeat"></td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</div>

